
            table{
                background-color:rgb(127, 180, 244);
                border:2px solid black;
                width:50%;
                text-align:center;
                border-collapse:collapse;
                padding:10px;
            }
            th{
                border: 2px solid black;
                text-align:center;
                padding:10px;
                font-family:"Footlight MT Light";
            }
            td{
                text-align:center;
                padding:10px;
                border:2px solid black;
                background-color:rgb(206, 231, 252);
                font-family: "Palatino Linotype";
            }
            h3{
                text-align:center;
                font-family: "Lucida Calligraphy";
            }
            h2{
                text-align: center;
                font-family:"Eras Medium ITC" ;
            }
            body {
                 font-family: "Montserrat Bold";
                 background-color: rgb(215, 234, 255);
            }
    